/* Write your CSS here */
.list-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
.para {
  color: #475569;
  font-family: 'Roboto';
}
.arrow-icon {
  height: 20px;
}
